.logo {
  width: 200px; 
  height: auto;
  display: block;
  margin: 0 auto 20px; 
}

.restartButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
}

.restartButton:hover {
  transform: rotate(90deg) scale(1.1);
}

.restartIcon {
  width: 20px;
  height: 20px;
}

.hintBox {
  background-color: #f7f7ff;
  border: 1px solid #d9d9ff;
  border-radius: 12px;
  padding: 16px;
  margin-top: 20px;
}

.hintHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hintIcon {
  width: 28px;
  height: 28px;
}

.hintTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #4a4a9c;
}

.hintText {
  font-size: 0.95rem;
  color: #555;
  margin-top: 6px;
}


.container {
  min-height: 100vh;
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.gameBox {
  background-color: #fff;
  width: 500px;
  height: 600px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.letter {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  background-color: #eef0ff;
  color: #4a4a4a;
}

.revealed {
  background-color: #bdf6d1;
  color: #065f46;
}

.form {
  margin-top: 16px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 7 0px;
}

.input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.button {
  background-color: #5551ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #3935cc;
}

.message {
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

.winMessage {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9f7ef;
  color: #065f46;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.usedLetters {
  margin-top: 24px;
  display: flex;
  gap: 6px;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.correct {
  background-color: #bdf6d1;
  color: #065f46;
}

.wrong {
  background-color: #fcd34d;
  color: #000;
}

.letterUsed {
  width: 36px;
  height: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  border-radius: 6px;
}

.hintBox {
  width: 100%;
  border-radius: 10px;
  background-color: #EBEBFC;
  padding: 12px 16px;
  text-align: left;
  margin-top: 12px;
}

.hintTitle {
  color: #4F4FB9;
  font-weight: 700;
  margin: 0;
}

.hintText {
  font-size: 14px;
  color: #4F4FB9;
  margin-top: 4px;
}
