body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 600px;
}

/*Logo*/
.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 310px;
  height: 60px;
  object-fit: contain;
}

/*Tentativas*/
.attempts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}

.attempts-text {
  font-size: 18px;
}

.attempts-text strong {
  font-size: 20px;
  color: #E8891C;
  font-weight: bold;
}

.reload-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/*Caixa de Dica*/
.hint-box {
  background-color: #EBEBFC;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.lamp-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-top: 15px;
}

.hint-content {
  display: flex;
  flex-direction: column;
}

.hint-title {
  font-weight: bold;
  font-size: 20px;
  color: #4F4FB9;
  margin-bottom: 4px;
}

.hint-description {
  font-size: 16px;
  color: #4F4FB9;
  line-height: 1.5;
}