.app-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #f9f9fc;
}

#root {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 310px;
  height: 60px;
  object-fit: contain;
}